html, body {
	scroll-behavior: smooth;
}

body {
	color: #fbfbfb;
	background-color: #232020;
	padding: 5% 10%
}

p {
	font-size: 1.4rem;
}

li > p {
	font-size: 1.2rem;
}

#title > h1 {
	font-size: 5rem;
	font-weight: bold;
}

#title {
	margin-bottom: 1rem;
}

.intro {
	text-align: center;
	margin: 3rem 0;
}

.card {
	border: none;
	margin-right: 4%;
	width: 27%;
	transition: 0.3s;
	cursor: pointer;
	margin-bottom: 5%;
}

.card-img-top {
	border-radius: 10px;
	filter: brightness(0.4) grayscale(100%);
	transition: 0.3s;
}

.card-img-top:where(#storia) {
	filter: brightness(0.25) grayscale(100%);
}

.card:hover > .card-img-top {
	filter: brightness(0.4) grayscale(0%);
	transition: 0.3s;
}

.card:hover {
	border: none;
	scale: 105%;
	transition: 0.3s;
}

.card-img-overlay {
	color: #fbfbfb;
}

.card-title {
	font-size: 1.5rem;
}

.table-tennissed-list {
	list-style: none;
	padding-left: 0;
}

.table-tennissed-list li {
	background-image: url('imgs/table-tennis-rackets.png'); /* Usa un'icona personalizzata */
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 45px; /* Spazio per l'icona */
}

@media(767px <= width <= 1023px) {
	#title > h1 {
		font-size: 4rem;
	}
	
	.card-body:where(.d-none) {
		display: block !important;
	}
	
	.card-body:not(:where(.d-none)) {
		display: none;
	}
}